<div >
     <h1> 交通事故回報網</h1>
  </div>

<div>
  <% @categories.each do |category| %>
  <%= link_to category.name, reports_path( :category => category) %> |
  <% end %>
</div>

<table class = "table table-striped table-bordered ">
  <thead class = "thead">
    <th>
      <%= "事故標題"%>
    </th>
    <th>
       <%= "回報者"%>
    </th>
    <th>
       <%= "回覆數"%>
    </th>
    <th>
       <%= "回報時間"%>
    </th>
    <th>
       <%= "動作"%>
    </th>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
  <tr>
    <td>
       <%= report.title %>
    </td>
    <td>
       <%= report.user.username %>
    </td>

    <td>
       <%= report.comments.count %>
    </td>

    <td>
       <%= report.created_at %>
    </td> 

    <td>
      <%= link_to 'Show', report_path(report), :class => "btn btn-primary" %>
      <%= link_to 'Edit', edit_report_path(report), :class => "btn btn-default" if report.user == current_user %>
      <%= link_to 'Delete', report_path(report, page: params[:page]) ,:method => :delete, :class => "btn btn-danger" if report.user == current_user %>
    </td>
   </tr>
  <% end %>
  </tbody>
	 
</table>


<div>
<%= link_to '新事故回報', new_report_path, :class => "btn btn-primary" %>
</div>
<div >
<%= paginate @reports %>
</div> 
